@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Potta One', cursive;
    display: flex;
    align-items: center;
}